<main class="main">
    <div class="content">
        <div class="left-side">
            <h1>Hello, {{ title }}</h1>
            <button>Hola desde app</button>
        </div>
        <a href={{apiUrl.url}} target='_blank'>página de rickli</a>
        @if (randomData | async; as user) {
            <p>Name {{user.info.version}}</p>
        }
        <div class="divider" role="separator" aria-label="Divider"></div>
        <input type="text" [formControl]='mascota' placeholder="Template form">
        <p>{{mascota.value}}</p>
        <div class="divider" role="separator" aria-label="Divider"></div>
        <input type="text" [(ngModel)]='favoriteColor' placeholder="Template form">
        @if (favoriteColor === '') {
            <p>Template form</p>
        } @else {
            <p>{{favoriteColor}}</p>
        }
        <div class="right-side">
            <div class="pill-group">
                @for (item of container; track item.id; let e = $even) {
                    <a
                        class="pill"
                        [href]="item.link"
                        target="_blank"
                        rel="noopener">
                        <span>{{ item.title }}</span>
                        <p>{{ e }}</p>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            height="14"
                            viewBox="0 -960 960 960"
                            width="14"
                            fill="currentColor">
                            <path
                                d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z" />
                        </svg>
                    </a>
                }
            </div>
            <app-content-note />
        </div>
    </div>
</main>

<router-outlet />
