<section>
    <p>{{ buttonName() }}</p>
    <button
        [class.isDisabled]="isValid()"
        [disabled]="isValid()"
        (click)="handleClick()">
        Cambiar tag
    </button>
    @if (inputValue() === "") {
        <p>No hay nada todavía</p>
    } @else {
        <p>{{ inputValue() }}</p>
    }
    <input
        type="text"
        name="texto"
        id="texto"
        [value]="inputValue()"
        (input)="handleChange($event)" />
    <ul>
        @for (item of notes; track item.id) {
            <li>{{ item.title }}</li>
        }
    </ul>
</section>
